.card-Details {
    position: relative;
    max-width: 400px;
    width: 100%;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
    padding: 16px;
    box-sizing: border-box;
    margin: 40px auto;
}

.card-Details-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: auto;
    padding: 16px 0px;
}

.card-Details-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    padding: 0px;
    margin-bottom: 10px;
}

.card-Details-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    padding: 0px;
}

.card-Details-info-text {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    font-weight: 400;
    text-align: center;
    color: #fff;
    word-wrap: break-word;
    margin-bottom: 0px;
}

.card-Details-img-container {
    width: 100%;
    max-width: 70px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
    padding: 0px;
}

.card-Details-image {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
}

.card-Details-body {
    padding: 16px;
    width: 100%;
}

.card-Details-body p {
    margin-bottom: 10px;
    color: #fff;
}