/* Button.css */
.button {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: clamp(0.5rem, 1.6vw, 0.9rem);
    /*     padding: 10px 20px;
 */
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    transition: background-color .15s ease, transform .08s ease;
    font-weight: 700;
    text-decoration: none;
    /* for anchor */
}

a.button {
    text-decoration: none;
    color: inherit;
}

a.button:hover {
    text-decoration: underline;
}