/* Button.css */
.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

a.button {
    text-decoration: none;
    color: inherit;
}

a.button:hover {
    text-decoration: underline;
}