@import "@fontsource/poppins";

body {
  background-color: #080710;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overscroll-behavior: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}